# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swo
*.swp

# Dependencies
**/node_modules/
**/vendor/

# Environment files
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*
storage/logs/*

# Cache
.cache
.cache-loader
**/storage/framework/cache/*
**/storage/framework/sessions/*
**/storage/framework/views/*

# Docker
docker-agent/node_modules/
backend/vendor/
frontend/node_modules/

# Project specific
*.sqlite
*.sqlite3